= form_for @todo do |f|
  - if @todo.errors.any?
    %h2 Errors:
    - @todo.errors.full_messages.each do |message|
      %ul{class: "errors"}
        %li= message
  = f.label :name
  = f.text_field :name
  = f.submit "Add"
